.header-frame{
    width: 100%;
    height: 200px;
}

.card{
    border-width: 10px;
    border-color: lightsalmon;
    border-radius: 10px;
}

.footer-frame{
    width: 100%;
    height: 220px;
}